{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container mx-auto row d-table main">
    <div class="ml-auto text-center d-table-cell align-middle">
        <h1>Tim Jones</h1>
        <div class="row">
            <div class="col-0 col-md-3 mr-0 mr-md-3"></div>
            <div class="col-md-5 col-12">
                <h1 class="typing ml-3 ml-md-5">Software Engineer</h1>
            </div>
        </div>
    </div>
</div>
<div class="container h-25 text-center">
    <a href="#projects">
        <img class="down-arrow project-scroll" src="{% static 'images/down_arrow2.png'%}" alt="">
    </a>
</div>
<div class="container" id="projects">
    <div class="row row-cols-1 row-cols-md-3">
        {% for project in project_list %}
        <div class="col mb-4">
          <div class="card h-100 project-card">
            <img src="{{ project.picture.url }}" class="card-img-top" alt="{{project.title}}">
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text">{{project.intro}}</p>
              <a class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" href="#{{ project.title|cut:" "}}" role="button">
                  See Details
            </a>
            </div>
          </div>
          <div class="collapse" id="{{ project.title|cut:" "}}">
            <div class="popup-container">
                <div class="col-md-7 col-sm-12 popup-body">
                    <a class='right' data-toggle="collapse" href="#{{ project.title|cut:" "}}">
                        <i class="fas fa-times fa-2x"></i>
                    </a>
                    <h3 class="card-title title">{{ project.title}}</h3>
                    <div class="row">
                        <div class="col-8">
                            <p class="card-text mx-2">{{ project.body }}</p>
                            <a href="{{ project.demo }}" class="btn btn-secondary">Live Demo</a>
                            <a href="{{ project.github }}" class="btn btn-secondary">Source Code</a>
                        </div>
                        <div class="col-4">
                            <ul>
                                {% for item in project.tech %}
                                    <li>{{item}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
      </div> 
</div>
{% endblock %}