html, body{
  font-family: 'Source Code Pro', monospace;
}

.typing { 
    box-shadow: .2em 0 0 black;
    width: 17ch;
    overflow: hidden;
    color: black;
    white-space: nowrap;
    text-align: center;
    animation: caret .5s step-end infinite alternate,
             type 2s steps(17, end);
}


@keyframes type {
  0% {
    width: 0;
  }

}
@keyframes caret { 
  50% { 
    box-shadow: .6em 0 0 transparent;
  }
}
