.typing { 
    box-shadow: .2em 0 0 black;
    margin: 2rem 1rem;
    width: 10ch;
    overflow: hidden;
    color: black;
    white-space: nowrap;
    animation: caret .5s step-end infinite alternate,
             type 5s steps(8, end)
}



@keyframes type {
  0% {
    width: 0;
  }

}
@keyframes caret { 
  50% { 
    box-shadow: .6em 0 0 transparent;
  }
}
