<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static '/fontawesome/css/all.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="info-section">
        <div class="container navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars fa-2x"></i>
              </button>
            <div class="collapse navbar-collapse row" id="navbarNavAltMarkup">
                <div class="nav-list col-lg-4">
                    <div>
                        <i class="fas fa-phone-alt icon"></i>
                        (575) 519-4055
                    </div>
                    <div>
                        <i class="fas fa-envelope icon"></i>
                        tim.a.jones@protonmail.com
                    </div>
                </div>
                <div class="nav-list col-lg-4 text-center">
                    <a href="https://www.linkedin.com/in/tim-jones-424555193/" class="links" target="_blank">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                    <a href="https://github.com/timjonez" class="links" target="_blank">
                        <i class="fab fa-github-square fa-3x"></i>
                    </a>
                </div>
                <div class="nav-list col-lg-4 text-right">
                    <a href="/resume" class="d-block info-link">
                        Resume
                        <i class="fas fa-file"></i>
                    </a>
                    <a href="/contact" class="info-link">
                        Contact Me
                        <i class="fas fa-paper-plane"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% with path=request.get_full_path %}
        {% if path != "/" %}
        <a href="/" class="back-arrow">
            <i class="far fa-arrow-alt-circle-left fa-3x"></i>
        </a>
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>